@import "tailwindcss";

:root {
    --background: #ffffff;
    --muted-background: #e9e9e9;
    --foreground: #171717;

    --card-background: #fdfdfd;

    /* Dark theme */
    --background-dark: #171717;
    --muted-background-dark: #0e0e0e;
    --foreground-dark: #ffffff;

    --card-background-dark: #1f1f1f;
}

@theme inline {
    --color-background: var(--background);
    --color-muted-background: var(--muted-background);
    --color-foreground: var(--foreground);

    --color-card-background: var(--card-background);
}

@theme inline:dark {
    --color-background: var(--background-dark);
    --color-muted-background: var(--muted-background-dark);
    --color-foreground: var(--foreground-dark);

    --color-card-background: var(--card-background-dark);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    @apply bg-muted-background text-foreground min-h-screen flex items-start justify-center;
}

main {
    @apply max-w-7xl w-full p-5 flex flex-col gap-8;
}
