@import "tailwindcss";

:root {
    --background: #ffffff;
    --muted-background: #e9e9e9;
    --foreground: #171717;

    --card-background: #fdfdfd;
}

@theme inline {
    --color-background: var(--background);
    --color-muted-background: var(--muted-background);
    --color-foreground: var(--foreground);

    --color-card-background: var(--card-background);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    @apply bg-muted-background text-foreground min-h-screen flex items-start justify-center;
}

main {
    @apply max-w-7xl w-full p-5 flex flex-col gap-8;
}
